<a href="https://colab.research.google.com/github/kabilan942/kaggle/blob/main/MLP_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

## Data Loading and Exploration

In [2]:
train_data = pd.read_csv('train_data.csv')
test_data = pd.read_csv('test_data.csv')

In [3]:
print('Shape of Train data:', train_data.shape)
print('Shape of Test data:', test_data.shape)

Shape of Train data: (12379, 31)
Shape of Test data: (5305, 30)

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12379 entries, 0 to 12378
Data columns (total 31 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   offer expiration                      12379 non-null  object
 1   income_range                          12379 non-null  object
 2   no_visited_Cold drinks                12181 non-null  object
 3   travelled_more_than_15mins_for_offer  12379 non-null  int64
 4   Restaur_spend_less_than20             12258 non-null  object
 5   Marital Status                        12379 non-null  object
 6   restaurant type                       12379 non-null  object
 7   age                                   12379 non-null  object
 8   Prefer western over chinese           12379 non-null  int64
 9   travelled_more_than_25mins_for_offer  12379 non-null  int64
 10  travelled_more_than_5mins_for_offer   12379 non-null  int64
 11  no_visited_bars                       12286 non-null  object
 12  gender                                12379 non-null  object
 13  car                                   111 non-null    object
 14  restuarant_same_direction_house       12379 non-null  int64
 15  Cooks regularly                       12379 non-null  int64
 16  Customer type                         12379 non-null  object
 17  Qualification                         12379 non-null  object
 18  is foodie                             12379 non-null  int64
 19  no_Take-aways                         12235 non-null  object
 20  Job/Job Industry                      12379 non-null  object
 21  restuarant_opposite_direction_house   12379 non-null  int64
 22  has Children                          12379 non-null  int64
 23  visit restaurant with rating (avg)    12379 non-null  int64
 24  temperature                           12379 non-null  int64
 25  Restaur_spend_greater_than20          12219 non-null  object
 26  Travel Time                           12379 non-null  int64
 27  Climate                               12379 non-null  object
 28  drop location                         12379 non-null  object
 29  Prefer home food                      12379 non-null  int64
 30  Offer Accepted                        12379 non-null  object
dtypes: int64(13), object(18)
memory usage: 2.9+ MB

In [5]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5305 entries, 0 to 5304
Data columns (total 30 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   offer expiration                      5305 non-null   object
 1   income_range                          5305 non-null   object
 2   no_visited_Cold drinks                5215 non-null   object
 3   travelled_more_than_15mins_for_offer  5305 non-null   int64
 4   Restaur_spend_less_than20             5244 non-null   object
 5   Marital Status                        5305 non-null   object
 6   restaurant type                       5305 non-null   object
 7   age                                   5305 non-null   object
 8   Prefer western over chinese           5305 non-null   int64
 9   travelled_more_than_25mins_for_offer  5305 non-null   int64
 10  travelled_more_than_5mins_for_offer   5305 non-null   int64
 11  no_visited_bars                       5255 non-null   object
 12  gender                                5305 non-null   object
 13  car                                   43 non-null     object
 14  restuarant_same_direction_house       5305 non-null   int64
 15  Cooks regularly                       5305 non-null   int64
 16  Customer type                         5305 non-null   object
 17  Qualification                         5305 non-null   object
 18  is foodie                             5305 non-null   int64
 19  no_Take-aways                         5245 non-null   object
 20  Job/Job Industry                      5305 non-null   object
 21  restuarant_opposite_direction_house   5305 non-null   int64
 22  has Children                          5305 non-null   int64
 23  visit restaurant with rating (avg)    5305 non-null   int64
 24  temperature                           5305 non-null   int64
 25  Restaur_spend_greater_than20          5201 non-null   object
 26  Travel Time                           5305 non-null   int64
 27  Climate                               5305 non-null   object
 28  drop location                         5305 non-null   object
 29  Prefer home food                      5305 non-null   int64
dtypes: int64(13), object(17)
memory usage: 1.2+ MB

In [6]:
data = pd.concat([train_data, test_data], ignore_index=True)

In [7]:
data.shape

(17684, 31)

In [8]:
data.head()

,offer expiration,income_range,no_visited_Cold drinks,travelled_more_than_15mins_for_offer,Restaur_spend_less_than20,Marital Status,restaurant type,age,Prefer western over chinese,travelled_more_than_25mins_for_offer,...,restuarant_opposite_direction_house,has Children,visit restaurant with rating (avg),temperature,Restaur_spend_greater_than20,Travel Time,Climate,drop location,Prefer home food,Offer Accepted
0,2days,₹100000 or More,4~8,1,less1,Married partner,4 star restaurant,36,0,0,...,0,0,4,67,less1,22,Spring,Location B,0,No
1,2days,₹87500 - ₹99999,4~8,0,4~8,Married partner,Take-away restaurant,50plus,0,0,...,0,1,3,89,1~3,18,Summer,Location B,0,Yes
2,2days,₹87500 - ₹99999,less1,1,1~3,Single,Cold drinks,26,1,0,...,1,1,4,67,less1,7,Winter,Location A,1,Yes
3,10hours,₹37500 - ₹49999,less1,0,1~3,Single,Take-away restaurant,46,1,0,...,0,1,3,89,1~3,7,Summer,Location C,0,No
4,2days,₹100000 or More,never,1,1~3,Single,4 star restaurant,21,0,1,...,1,0,3,40,less1,7,Summer,Location C,0,No

In [9]:
data.tail()

,offer expiration,income_range,no_visited_Cold drinks,travelled_more_than_15mins_for_offer,Restaur_spend_less_than20,Marital Status,restaurant type,age,Prefer western over chinese,travelled_more_than_25mins_for_offer,...,restuarant_opposite_direction_house,has Children,visit restaurant with rating (avg),temperature,Restaur_spend_greater_than20,Travel Time,Climate,drop location,Prefer home food,Offer Accepted
17679,2days,₹25000 - ₹37499,less1,0,less1,Unmarried partner,4 star restaurant,26,0,0,...,0,0,1,67,1~3,18,Summer,Location B,0,NaN
17680,10hours,₹62500 - ₹74999,1~3,0,4~8,Married partner,2 star restaurant,26,0,0,...,0,0,3,89,1~3,18,Summer,Location B,1,NaN
17681,10hours,₹50000 - ₹62499,gt8,1,4~8,Married partner,Cold drinks,36,0,0,...,1,1,2,67,1~3,7,Summer,Location C,1,NaN
17682,2days,₹50000 - ₹62499,1~3,1,1~3,Married partner,Restaurant with pub,36,1,0,...,1,1,3,89,1~3,7,Summer,Location A,0,NaN
17683,2days,₹37500 - ₹49999,less1,0,1~3,Married partner,4 star restaurant,50plus,1,0,...,1,1,4,89,1~3,7,Winter,Location A,0,NaN

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17684 entries, 0 to 17683
Data columns (total 31 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   offer expiration                      17684 non-null  object
 1   income_range                          17684 non-null  object
 2   no_visited_Cold drinks                17396 non-null  object
 3   travelled_more_than_15mins_for_offer  17684 non-null  int64
 4   Restaur_spend_less_than20             17502 non-null  object
 5   Marital Status                        17684 non-null  object
 6   restaurant type                       17684 non-null  object
 7   age                                   17684 non-null  object
 8   Prefer western over chinese           17684 non-null  int64
 9   travelled_more_than_25mins_for_offer  17684 non-null  int64
 10  travelled_more_than_5mins_for_offer   17684 non-null  int64
 11  no_visited_bars                       17541 non-null  object
 12  gender                                17684 non-null  object
 13  car                                   154 non-null    object
 14  restuarant_same_direction_house       17684 non-null  int64
 15  Cooks regularly                       17684 non-null  int64
 16  Customer type                         17684 non-null  object
 17  Qualification                         17684 non-null  object
 18  is foodie                             17684 non-null  int64
 19  no_Take-aways                         17480 non-null  object
 20  Job/Job Industry                      17684 non-null  object
 21  restuarant_opposite_direction_house   17684 non-null  int64
 22  has Children                          17684 non-null  int64
 23  visit restaurant with rating (avg)    17684 non-null  int64
 24  temperature                           17684 non-null  int64
 25  Restaur_spend_greater_than20          17420 non-null  object
 26  Travel Time                           17684 non-null  int64
 27  Climate                               17684 non-null  object
 28  drop location                         17684 non-null  object
 29  Prefer home food                      17684 non-null  int64
 30  Offer Accepted                        12379 non-null  object
dtypes: int64(13), object(18)
memory usage: 4.2+ MB

In [11]:
data.drop(['no_visited_Cold drinks','Restaur_spend_less_than20','no_visited_bars','car','no_Take-aways','Restaur_spend_greater_than20'], axis=1, inplace=True)

In [12]:
data.shape

(17684, 25)

0 -> 12378 for train_data
12379 -> 17683 for test_data

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17684 entries, 0 to 17683
Data columns (total 25 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   offer expiration                      17684 non-null  object
 1   income_range                          17684 non-null  object
 2   travelled_more_than_15mins_for_offer  17684 non-null  int64
 3   Marital Status                        17684 non-null  object
 4   restaurant type                       17684 non-null  object
 5   age                                   17684 non-null  object
 6   Prefer western over chinese           17684 non-null  int64
 7   travelled_more_than_25mins_for_offer  17684 non-null  int64
 8   travelled_more_than_5mins_for_offer   17684 non-null  int64
 9   gender                                17684 non-null  object
 10  restuarant_same_direction_house       17684 non-null  int64
 11  Cooks regularly                       17684 non-null  int64
 12  Customer type                         17684 non-null  object
 13  Qualification                         17684 non-null  object
 14  is foodie                             17684 non-null  int64
 15  Job/Job Industry                      17684 non-null  object
 16  restuarant_opposite_direction_house   17684 non-null  int64
 17  has Children                          17684 non-null  int64
 18  visit restaurant with rating (avg)    17684 non-null  int64
 19  temperature                           17684 non-null  int64
 20  Travel Time                           17684 non-null  int64
 21  Climate                               17684 non-null  object
 22  drop location                         17684 non-null  object
 23  Prefer home food                      17684 non-null  int64
 24  Offer Accepted                        12379 non-null  object
dtypes: int64(13), object(12)
memory usage: 3.4+ MB

## Data Preprocessing

### offer expiration

In [14]:
data['offer expiration'].unique()

array(['2days', '10hours'], dtype=object)

'10hours' -> 0

'2days' -> 1

In [18]:
data['offer expiration'].replace({'10hours':0, '2days':1}, inplace=True)

The keys are replaced by their corresponding values in the column of the dataframe

In [23]:
data['offer expiration'].head()

0    1
1    1
2    1
3    0
4    1
Name: offer expiration, dtype: int64

### income_range

In [28]:
data['income_range'].value_counts()

₹25000 - ₹37499     2860
₹12500 - ₹24999     2534
₹37500 - ₹49999     2492
₹100000 or More     2397
₹50000 - ₹62499     2276
Less than ₹12500    1485
₹87500 - ₹99999     1259
₹75000 - ₹87499     1202
₹62500 - ₹74999     1179
Name: income_range, dtype: int64

In [29]:
data['income_range'].replace({'Less than ₹12500':0, '₹12500 - ₹24999':1, '₹25000 - ₹37499':2, '₹37500 - ₹49999':3, '₹50000 - ₹62499':4, '₹62500 - ₹74999':5,
                              '₹75000 - ₹87499':6, '₹87500 - ₹99999':7, '₹100000 or More':8 }, inplace=True)

In [30]:
data['income_range'].head()

0    8
1    7
2    7
3    3
4    8
Name: income_range, dtype: int64

### Marital Status

In [33]:
data['Marital Status'].value_counts()

Married partner      7085
Single               6675
Unmarried partner    3031
Divorced              718
Widowed               175
Name: Marital Status, dtype: int64

In [34]:
data['Marital Status'][:5]

0    Married partner
1    Married partner
2             Single
3             Single
4             Single
Name: Marital Status, dtype: object

In [36]:
data['Marital Status'].replace({'Married partner':0, 'Single':1, 'Unmarried partner':2, 'Divorced':3, 'Widowed':4}, inplace=True)

In [37]:
data['Marital Status'][:5]

0    0
1    0
2    1
3    1
4    1
Name: Marital Status, dtype: int64

### restaurant type

In [38]:
data['restaurant type'].value_counts()

Cold drinks             4957
2 star restaurant       3792
Take-away restaurant    3374
4 star restaurant       3108
Restaurant with pub     2453
Name: restaurant type, dtype: int64

In [39]:
data['restaurant type'][:7]

0       4 star restaurant
1    Take-away restaurant
2             Cold drinks
3    Take-away restaurant
4       4 star restaurant
5    Take-away restaurant
6             Cold drinks
Name: restaurant type, dtype: object

In [40]:
data['restaurant type'].replace({'Cold drinks':0, '2 star restaurant':1, 'Take-away restaurant':2, '4 star restaurant':3, 
                                 'Restaurant with pub':4}, inplace=True)

In [42]:
data['restaurant type'][:7]

0    3
1    2
2    0
3    2
4    3
5    2
6    0
Name: restaurant type, dtype: int64

### age

In [43]:
data['age'].value_counts()

21         3717
26         3622
31         2785
50plus     2528
36         1809
41         1497
46          967
below21     759
Name: age, dtype: int64

In [44]:
data['age'].replace({'below21':18, '50plus':53}, inplace=True)

In [45]:
data['age'][:5]

0    36
1    53
2    26
3    46
4    21
Name: age, dtype: object

### gender

In [46]:
data['gender'].value_counts()

Female    9037
Male      8647
Name: gender, dtype: int64

In [47]:
data['gender'][:5]

0    Female
1    Female
2    Female
3      Male
4    Female
Name: gender, dtype: object

In [48]:
data['gender'].replace({'Female':0, 'Male':1}, inplace=True)

In [49]:
data['gender'][:5]

0    0
1    0
2    0
3    1
4    0
Name: gender, dtype: int64

### Customer type

In [50]:
data['Customer type'].value_counts()

Individual         8497
With Colleagues    4513
With Family        2374
With Kids          2300
Name: Customer type, dtype: int64

In [51]:
data['Customer type'].replace({'Individual':0, 'With Colleagues':1, 'With Family':2, 'With Kids':3}, inplace=True)

### Qualification

In [53]:
data['Qualification'].value_counts()

Some college - no degree                  6068
Bachelors degree                          6039
Graduate degree (Masters or Doctorate)    2582
Associates degree                         1610
High School Graduate                      1258
Some High School                           127
Name: Qualification, dtype: int64

In [54]:
data['Qualification'][:7]

0            Bachelors degree
1            Bachelors degree
2            Bachelors degree
3    Some college - no degree
4    Some college - no degree
5            Bachelors degree
6    Some college - no degree
Name: Qualification, dtype: object

In [57]:
data['Qualification'].replace({'Some college - no degree':0, 'Bachelors degree':1, 'Graduate degree (Masters or Doctorate)':2,
                               'Associates degree':3, 'High School Graduate':4, 'Some High School':5}, inplace=True)

In [58]:
data['Qualification'][:7]

0    1
1    1
2    1
3    0
4    0
5    1
6    0
Name: Qualification, dtype: int64

### Job/Job Industry

In [59]:
data['Job/Job Industry'].value_counts()

Unemployed                                   2629
Student                                      2205
Computer & Mathematical                      1946
Sales & Related                              1524
Education&Training&Library                   1311
Management                                   1176
Office & Administrative Support               903
Arts Design Entertainment Sports & Media      898
Business & Financial                          739
Retired                                       664
Food Preparation & Serving Related            403
Community & Social Services                   346
Healthcare Practitioners & Technical          339
Healthcare Support                            332
Transportation & Material Moving              316
Legal                                         311
Life Physical Social Science                  247
Protective Service                            243
Architecture & Engineering                    241
Personal Care & Service                       232
Construction & Extraction                     208
Installation Maintenance & Repair             197
Production Occupations                        158
Building & Grounds Cleaning & Maintenance      59
Farming Fishing & Forestry                     57
Name: Job/Job Industry, dtype: int64

Removing this column:

In [60]:
data.drop(['Job/Job Industry'], axis=1, inplace=True)

In [61]:
data.shape

(17684, 24)

### Climate

In [65]:
data['Climate'].value_counts()

Summer    11520
Spring     3114
Winter     3050
Name: Climate, dtype: int64

In [66]:
data['Climate'].replace({'Summer':0, 'Spring':1, 'Winter':2}, inplace=True)

### drop location

In [67]:
data['drop location'].value_counts()

Location A    7934
Location B    4900
Location C    4850
Name: drop location, dtype: int64

In [68]:
data['drop location'].replace({'Location A':0, 'Location B':1, 'Location C':2}, inplace=True)

### Label - Offer Accepted

In [72]:
data['Offer Accepted'].value_counts()

Yes    6994
No     5385
Name: Offer Accepted, dtype: int64

In [73]:
data['Offer Accepted'].replace({'Yes':1, 'No':0}, inplace=True)

### Scaling of features

In [109]:
from sklearn.preprocessing import MinMaxScaler

mms = MinMaxScaler()

In [111]:
age_np = data['age'].to_numpy()
age_np_scaled = mms.fit_transform(age_np.reshape(-1,1))

In [115]:
age_series = pd.Series(age_np_scaled.reshape(-1,), index=data.index.values)

In [120]:
data['age'] = age_series

In [129]:
visit_restaurant_np = data['visit restaurant with rating (avg)'].to_numpy()
temperature_np = data['temperature'].to_numpy()
travel_time_np = data['Travel Time'].to_numpy()

In [130]:
vist_restaurent_scaled = mms.fit_transform(visit_restaurant_np.reshape(-1,1))
temperature_scaled = mms.fit_transform(temperature_np.reshape(-1,1))
travel_time_scaled = mms.fit_transform(travel_time_np.reshape(-1,1))

In [131]:
vist_restaurent_series = pd.Series(vist_restaurent_scaled.reshape(-1,), index=data.index.values)
temperature_series = pd.Series(temperature_scaled.reshape(-1,), index=data.index.values)
travel_time_series = pd.Series(travel_time_scaled.reshape(-1,), index=data.index.values)

In [132]:
data['visit restaurant with rating (avg)'] = vist_restaurent_series
data['temperature'] = temperature_series
data['Travel Time'] = travel_time_series

In [133]:
data.head()

,offer expiration,income_range,travelled_more_than_15mins_for_offer,Marital Status,restaurant type,age,Prefer western over chinese,travelled_more_than_25mins_for_offer,travelled_more_than_5mins_for_offer,gender,...,is foodie,restuarant_opposite_direction_house,has Children,visit restaurant with rating (avg),temperature,Travel Time,Climate,drop location,Prefer home food,Offer Accepted
0,1,8,1,0,3,0.514286,0,0,1,0,...,0,0,0,1.00,0.55102,1.000000,1,1,0,0.0
1,1,7,0,0,2,1.000000,0,0,1,0,...,0,0,1,0.75,1.00000,0.733333,0,1,0,1.0
2,1,7,1,1,0,0.228571,1,0,1,0,...,1,1,1,1.00,0.55102,0.000000,2,0,1,1.0
3,0,3,0,1,2,0.800000,1,0,1,1,...,1,0,1,0.75,1.00000,0.000000,0,2,0,0.0
4,1,8,1,1,3,0.085714,0,1,1,0,...,1,1,0,0.75,0.00000,0.000000,0,2,0,0.0

## Model

### Splitting data into Train and Test data

In [134]:
data.head()

,offer expiration,income_range,travelled_more_than_15mins_for_offer,Marital Status,restaurant type,age,Prefer western over chinese,travelled_more_than_25mins_for_offer,travelled_more_than_5mins_for_offer,gender,...,is foodie,restuarant_opposite_direction_house,has Children,visit restaurant with rating (avg),temperature,Travel Time,Climate,drop location,Prefer home food,Offer Accepted
0,1,8,1,0,3,0.514286,0,0,1,0,...,0,0,0,1.00,0.55102,1.000000,1,1,0,0.0
1,1,7,0,0,2,1.000000,0,0,1,0,...,0,0,1,0.75,1.00000,0.733333,0,1,0,1.0
2,1,7,1,1,0,0.228571,1,0,1,0,...,1,1,1,1.00,0.55102,0.000000,2,0,1,1.0
3,0,3,0,1,2,0.800000,1,0,1,1,...,1,0,1,0.75,1.00000,0.000000,0,2,0,0.0
4,1,8,1,1,3,0.085714,0,1,1,0,...,1,1,0,0.75,0.00000,0.000000,0,2,0,0.0

In [135]:
data.tail()

,offer expiration,income_range,travelled_more_than_15mins_for_offer,Marital Status,restaurant type,age,Prefer western over chinese,travelled_more_than_25mins_for_offer,travelled_more_than_5mins_for_offer,gender,...,is foodie,restuarant_opposite_direction_house,has Children,visit restaurant with rating (avg),temperature,Travel Time,Climate,drop location,Prefer home food,Offer Accepted
17679,1,2,0,2,3,0.228571,0,0,1,1,...,0,0,0,0.25,0.55102,0.733333,0,1,0,NaN
17680,0,5,0,0,1,0.228571,0,0,1,0,...,1,0,0,0.75,1.00000,0.733333,0,1,1,NaN
17681,0,4,1,0,0,0.514286,0,0,1,0,...,1,1,1,0.50,0.55102,0.000000,0,2,1,NaN
17682,1,4,1,0,4,0.514286,1,0,1,0,...,0,1,1,0.75,1.00000,0.000000,0,0,0,NaN
17683,1,3,0,0,3,1.000000,1,0,1,1,...,0,1,1,1.00,1.00000,0.000000,2,0,0,NaN

0 -> 12378 for train_data

12379 -> 17683 for test_data

In [136]:
train = data.iloc[:12379, :]
test = data.iloc[12379:,:]

In [137]:
test.drop(['Offer Accepted'], axis=1, inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [138]:
print('Shape of Train data:', train.shape)
print('Shape of Test data:', test.shape)

Shape of Train data: (12379, 24)
Shape of Test data: (5305, 23)

In [139]:
train.head()

,offer expiration,income_range,travelled_more_than_15mins_for_offer,Marital Status,restaurant type,age,Prefer western over chinese,travelled_more_than_25mins_for_offer,travelled_more_than_5mins_for_offer,gender,...,is foodie,restuarant_opposite_direction_house,has Children,visit restaurant with rating (avg),temperature,Travel Time,Climate,drop location,Prefer home food,Offer Accepted
0,1,8,1,0,3,0.514286,0,0,1,0,...,0,0,0,1.00,0.55102,1.000000,1,1,0,0.0
1,1,7,0,0,2,1.000000,0,0,1,0,...,0,0,1,0.75,1.00000,0.733333,0,1,0,1.0
2,1,7,1,1,0,0.228571,1,0,1,0,...,1,1,1,1.00,0.55102,0.000000,2,0,1,1.0
3,0,3,0,1,2,0.800000,1,0,1,1,...,1,0,1,0.75,1.00000,0.000000,0,2,0,0.0
4,1,8,1,1,3,0.085714,0,1,1,0,...,1,1,0,0.75,0.00000,0.000000,0,2,0,0.0

In [140]:
test.head()

,offer expiration,income_range,travelled_more_than_15mins_for_offer,Marital Status,restaurant type,age,Prefer western over chinese,travelled_more_than_25mins_for_offer,travelled_more_than_5mins_for_offer,gender,...,Qualification,is foodie,restuarant_opposite_direction_house,has Children,visit restaurant with rating (avg),temperature,Travel Time,Climate,drop location,Prefer home food
12379,1,3,1,3,2,1.000000,0,1,1,1,...,2,0,1,1,1.0,1.00000,0.000000,0,2,0
12380,0,2,0,2,0,0.085714,1,0,1,1,...,0,1,1,1,0.0,0.55102,0.733333,0,0,1
12381,1,8,1,1,0,0.085714,1,0,1,0,...,4,0,1,0,1.0,0.55102,0.000000,0,2,0
12382,1,2,1,0,4,0.657143,0,0,1,0,...,0,1,1,1,0.0,0.00000,0.733333,1,2,1
12383,0,1,0,1,1,0.371429,1,0,1,1,...,4,1,0,0,0.0,1.00000,0.733333,0,1,1

In [144]:
test.reset_index(inplace=True)

In [146]:
test.drop(['index'], axis=1, inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [147]:
test.head()

,offer expiration,income_range,travelled_more_than_15mins_for_offer,Marital Status,restaurant type,age,Prefer western over chinese,travelled_more_than_25mins_for_offer,travelled_more_than_5mins_for_offer,gender,...,Qualification,is foodie,restuarant_opposite_direction_house,has Children,visit restaurant with rating (avg),temperature,Travel Time,Climate,drop location,Prefer home food
0,1,3,1,3,2,1.000000,0,1,1,1,...,2,0,1,1,1.0,1.00000,0.000000,0,2,0
1,0,2,0,2,0,0.085714,1,0,1,1,...,0,1,1,1,0.0,0.55102,0.733333,0,0,1
2,1,8,1,1,0,0.085714,1,0,1,0,...,4,0,1,0,1.0,0.55102,0.000000,0,2,0
3,1,2,1,0,4,0.657143,0,0,1,0,...,0,1,1,1,0.0,0.00000,0.733333,1,2,1
4,0,1,0,1,1,0.371429,1,0,1,1,...,4,1,0,0,0.0,1.00000,0.733333,0,1,1

In [148]:
test.shape

(5305, 23)

In [160]:
X = train.drop(['Offer Accepted'], axis=1)
y = train['Offer Accepted']

In [161]:
X.head()

,offer expiration,income_range,travelled_more_than_15mins_for_offer,Marital Status,restaurant type,age,Prefer western over chinese,travelled_more_than_25mins_for_offer,travelled_more_than_5mins_for_offer,gender,...,Qualification,is foodie,restuarant_opposite_direction_house,has Children,visit restaurant with rating (avg),temperature,Travel Time,Climate,drop location,Prefer home food
0,1,8,1,0,3,0.514286,0,0,1,0,...,1,0,0,0,1.00,0.55102,1.000000,1,1,0
1,1,7,0,0,2,1.000000,0,0,1,0,...,1,0,0,1,0.75,1.00000,0.733333,0,1,0
2,1,7,1,1,0,0.228571,1,0,1,0,...,1,1,1,1,1.00,0.55102,0.000000,2,0,1
3,0,3,0,1,2,0.800000,1,0,1,1,...,0,1,0,1,0.75,1.00000,0.000000,0,2,0
4,1,8,1,1,3,0.085714,0,1,1,0,...,0,1,1,0,0.75,0.00000,0.000000,0,2,0

In [162]:
y.head()

0    0.0
1    1.0
2    1.0
3    0.0
4    0.0
Name: Offer Accepted, dtype: float64

### Modelling

In [163]:
X.shape

(12379, 23)

In [164]:
X_train, X_test = X[:11000], X[11000:]
y_train, y_test = y[:11000], y[11000:]

In [175]:
from xgboost import XGBClassifier

xgb_classifier = XGBClassifier()
xgb_classifier.fit(X, y)

XGBClassifier()

In [176]:
y_pred = xgb_classifier.predict(X_test)

In [179]:
from sklearn.metrics import f1_score

print(f1_score(y_test, y_pred))

0.7076749435665914

### Testing

In [180]:
test_pred = xgb_classifier.predict(test)

In [182]:
test_pred

array([0., 1., 1., ..., 0., 0., 1.])

In [194]:
result = pd.DataFrame(test_pred)

In [195]:
result.head()

     0
0  0.0
1  1.0
2  1.0
3  0.0
4  1.0

In [201]:
result.rename(columns = {0:'Offer Accepted'}, inplace=True)
result.index.name='id'

In [202]:
result.head()

    Offer Accepted
id
0              0.0
1              1.0
2              1.0
3              0.0
4              1.0

In [203]:
submission = result.replace({0.0:'No',1.0:'Yes'})

In [204]:
submission.head()

   Offer Accepted
id
0              No
1             Yes
2             Yes
3              No
4             Yes

In [206]:
submission.to_csv()

'id,Offer Accepted\n0,No\n1,Yes\n2,Yes\n3,No\n4,Yes\n5,Yes\n6,No\n7,Yes\n8,Yes\n9,Yes\n10,Yes\n11,No\n12,Yes\n13,No\n14,Yes\n15,Yes\n16,Yes\n17,Yes\n18,No\n19,Yes\n20,Yes\n21,Yes\n22,Yes\n23,Yes\n24,Yes\n25,No\n26,Yes\n27,No\n28,Yes\n29,Yes\n30,Yes\n31,Yes\n32,Yes\n33,Yes\n34,Yes\n35,Yes\n36,Yes\n37,Yes\n38,Yes\n39,Yes\n40,Yes\n41,Yes\n42,Yes\n43,No\n44,Yes\n45,Yes\n46,Yes\n47,No\n48,No\n49,Yes\n50,No\n51,Yes\n52,Yes\n53,Yes\n54,Yes\n55,Yes\n56,Yes\n57,Yes\n58,Yes\n59,No\n60,Yes\n61,No\n62,Yes\n63,Yes\n64,Yes\n65,No\n66,No\n67,Yes\n68,Yes\n69,Yes\n70,Yes\n71,Yes\n72,No\n73,Yes\n74,Yes\n75,Yes\n76,Yes\n77,Yes\n78,Yes\n79,Yes\n80,Yes\n81,Yes\n82,Yes\n83,Yes\n84,Yes\n85,Yes\n86,Yes\n87,Yes\n88,Yes\n89,Yes\n90,Yes\n91,Yes\n92,No\n93,No\n94,Yes\n95,Yes\n96,Yes\n97,Yes\n98,Yes\n99,Yes\n100,Yes\n101,Yes\n102,No\n103,Yes\n104,Yes\n105,No\n106,No\n107,Yes\n108,Yes\n109,Yes\n110,Yes\n111,Yes\n112,Yes\n113,Yes\n114,Yes\n115,Yes\n116,Yes\n117,Yes\n118,Yes\n119,No\n120,Yes\n121,No\n122,No\n123,No\n124,Yes\n125,Yes\n126,Yes\n127,No\n128,Yes\n129,No\n130,Yes\n131,Yes\n132,Yes\n133,Yes\n134,Yes\n135,Yes\n136,Yes\n137,No\n138,Yes\n139,Yes\n140,Yes\n141,Yes\n142,Yes\n143,Yes\n144,Yes\n145,Yes\n146,Yes\n147,Yes\n148,No\n149,Yes\n150,No\n151,Yes\n152,Yes\n153,Yes\n154,Yes\n155,Yes\n156,No\n157,Yes\n158,Yes\n159,Yes\n160,Yes\n161,No\n162,No\n163,No\n164,Yes\n165,Yes\n166,No\n167,No\n168,No\n169,No\n170,Yes\n171,Yes\n172,Yes\n173,Yes\n174,Yes\n175,No\n176,No\n177,Yes\n178,No\n179,Yes\n180,Yes\n181,Yes\n182,Yes\n183,No\n184,Yes\n185,Yes\n186,No\n187,Yes\n188,Yes\n189,Yes\n190,Yes\n191,Yes\n192,Yes\n193,No\n194,No\n195,Yes\n196,No\n197,Yes\n198,Yes\n199,No\n200,Yes\n201,Yes\n202,Yes\n203,Yes\n204,Yes\n205,Yes\n206,Yes\n207,Yes\n208,Yes\n209,No\n210,No\n211,Yes\n212,Yes\n213,Yes\n214,Yes\n215,Yes\n216,Yes\n217,Yes\n218,Yes\n219,Yes\n220,Yes\n221,No\n222,Yes\n223,Yes\n224,Yes\n225,No\n226,No\n227,Yes\n228,Yes\n229,Yes\n230,Yes\n231,Yes\n232,Yes\n233,Yes\n234,Yes\n235,Yes\n236,Yes\n237,Yes\n238,Yes\n239,Yes\n240,Yes\n241,Yes\n242,Yes\n243,Yes\n244,No\n245,Yes\n246,Yes\n247,Yes\n248,Yes\n249,Yes\n250,Yes\n251,Yes\n252,Yes\n253,Yes\n254,Yes\n255,Yes\n256,Yes\n257,Yes\n258,Yes\n259,Yes\n260,Yes\n261,Yes\n262,No\n263,Yes\n264,No\n265,Yes\n266,Yes\n267,Yes\n268,No\n269,No\n270,Yes\n271,Yes\n272,Yes\n273,Yes\n274,Yes\n275,No\n276,Yes\n277,No\n278,Yes\n279,Yes\n280,Yes\n281,Yes\n282,Yes\n283,Yes\n284,No\n285,Yes\n286,No\n287,Yes\n288,Yes\n289,Yes\n290,Yes\n291,Yes\n292,Yes\n293,Yes\n294,No\n295,No\n296,Yes\n297,Yes\n298,No\n299,Yes\n300,Yes\n301,No\n302,Yes\n303,Yes\n304,Yes\n305,Yes\n306,Yes\n307,Yes\n308,Yes\n309,No\n310,Yes\n311,Yes\n312,Yes\n313,No\n314,Yes\n315,Yes\n316,Yes\n317,Yes\n318,Yes\n319,No\n320,Yes\n321,Yes\n322,Yes\n323,Yes\n324,Yes\n325,No\n326,No\n327,Yes\n328,Yes\n329,Yes\n330,No\n331,No\n332,Yes\n333,Yes\n334,Yes\n335,Yes\n336,Yes\n337,No\n338,No\n339,Yes\n340,Yes\n341,No\n342,No\n343,Yes\n344,No\n345,Yes\n346,Yes\n347,Yes\n348,No\n349,Yes\n350,No\n351,Yes\n352,Yes\n353,Yes\n354,Yes\n355,Yes\n356,No\n357,Yes\n358,Yes\n359,Yes\n360,Yes\n361,Yes\n362,No\n363,No\n364,Yes\n365,No\n366,Yes\n367,Yes\n368,Yes\n369,Yes\n370,Yes\n371,No\n372,No\n373,No\n374,Yes\n375,Yes\n376,Yes\n377,No\n378,No\n379,No\n380,Yes\n381,Yes\n382,Yes\n383,Yes\n384,Yes\n385,Yes\n386,No\n387,Yes\n388,Yes\n389,Yes\n390,No\n391,Yes\n392,No\n393,No\n394,Yes\n395,Yes\n396,Yes\n397,Yes\n398,Yes\n399,Yes\n400,Yes\n401,No\n402,Yes\n403,Yes\n404,No\n405,Yes\n406,Yes\n407,Yes\n408,Yes\n409,Yes\n410,Yes\n411,No\n412,Yes\n413,Yes\n414,Yes\n415,Yes\n416,Yes\n417,Yes\n418,Yes\n419,Yes\n420,No\n421,No\n422,Yes\n423,No\n424,No\n425,Yes\n426,No\n427,Yes\n428,No\n429,Yes\n430,Yes\n431,No\n432,Yes\n433,Yes\n434,Yes\n435,Yes\n436,No\n437,Yes\n438,No\n439,Yes\n440,Yes\n441,Yes\n442,Yes\n443,Yes\n444,Yes\n445,Yes\n446,Yes\n447,No\n448,Yes\n449,Yes\n450,Yes\n451,Yes\n452,Yes\n453,Yes\n454,Yes\n455,Yes\n456,Yes\n457,No\n458,Yes\n459,Yes\n460,No\n461,Yes\n462,Yes\n463,Yes\n464,Yes\n465,Yes\n466,Yes\n467,Yes\n468,Yes\n469,Yes\n470,Yes\n471,Yes\n472,Yes\n473,Yes\n474,No\n475,Yes\n476,Yes\n477,Yes\n478,Yes\n479,Yes\n480,Yes\n481,Yes\n482,Yes\n483,Yes\n484,Yes\n485,No\n486,No\n487,Yes\n488,No\n489,No\n490,Yes\n491,No\n492,Yes\n493,No\n494,Yes\n495,Yes\n496,Yes\n497,No\n498,Yes\n499,No\n500,No\n501,Yes\n502,No\n503,No\n504,No\n505,Yes\n506,No\n507,No\n508,Yes\n509,Yes\n510,Yes\n511,Yes\n512,Yes\n513,No\n514,Yes\n515,Yes\n516,Yes\n517,No\n518,Yes\n519,No\n520,Yes\n521,Yes\n522,Yes\n523,No\n524,No\n525,Yes\n526,No\n527,Yes\n528,Yes\n529,Yes\n530,No\n531,No\n532,Yes\n533,Yes\n534,Yes\n535,Yes\n536,No\n537,No\n538,No\n539,Yes\n540,Yes\n541,Yes\n542,No\n543,Yes\n544,Yes\n545,Yes\n546,Yes\n547,Yes\n548,No\n549,Yes\n550,Yes\n551,Yes\n552,Yes\n553,No\n554,Yes\n555,Yes\n556,Yes\n557,Yes\n558,Yes\n559,Yes\n560,Yes\n561,No\n562,Yes\n563,Yes\n564,Yes\n565,Yes\n566,Yes\n567,Yes\n568,Yes\n569,Yes\n570,Yes\n571,Yes\n572,Yes\n573,No\n574,No\n575,No\n576,Yes\n577,Yes\n578,Yes\n579,Yes\n580,Yes\n581,Yes\n582,Yes\n583,Yes\n584,Yes\n585,Yes\n586,No\n587,Yes\n588,Yes\n589,Yes\n590,No\n591,Yes\n592,Yes\n593,No\n594,Yes\n595,No\n596,Yes\n597,Yes\n598,Yes\n599,No\n600,Yes\n601,Yes\n602,Yes\n603,Yes\n604,No\n605,Yes\n606,Yes\n607,Yes\n608,No\n609,Yes\n610,Yes\n611,Yes\n612,Yes\n613,Yes\n614,Yes\n615,No\n616,Yes\n617,No\n618,No\n619,Yes\n620,Yes\n621,Yes\n622,Yes\n623,Yes\n624,No\n625,Yes\n626,Yes\n627,Yes\n628,Yes\n629,Yes\n630,Yes\n631,No\n632,No\n633,No\n634,Yes\n635,Yes\n636,Yes\n637,Yes\n638,Yes\n639,No\n640,No\n641,No\n642,Yes\n643,No\n644,Yes\n645,No\n646,Yes\n647,No\n648,Yes\n649,Yes\n650,No\n651,Yes\n652,Yes\n653,Yes\n654,Yes\n655,No\n656,Yes\n657,Yes\n658,Yes\n659,No\n660,Yes\n661,Yes\n662,No\n663,Yes\n664,Yes\n665,No\n666,Yes\n667,Yes\n668,Yes\n669,No\n670,No\n671,Yes\n672,No\n673,Yes\n674,Yes\n675,Yes\n676,No\n677,Yes\n678,Yes\n679,Yes\n680,Yes\n681,Yes\n682,No\n683,No\n684,Yes\n685,Yes\n686,No\n687,Yes\n688,No\n689,Yes\n690,No\n691,Yes\n692,Yes\n693,Yes\n694,Yes\n695,Yes\n696,Yes\n697,Yes\n698,Yes\n699,Yes\n700,No\n701,No\n702,Yes\n703,Yes\n704,Yes\n705,Yes\n706,Yes\n707,Yes\n708,Yes\n709,No\n710,Yes\n711,No\n712,Yes\n713,No\n714,Yes\n715,No\n716,No\n717,Yes\n718,Yes\n719,Yes\n720,Yes\n721,No\n722,Yes\n723,No\n724,Yes\n725,Yes\n726,No\n727,Yes\n728,Yes\n729,Yes\n730,No\n731,No\n732,Yes\n733,Yes\n734,Yes\n735,Yes\n736,No\n737,Yes\n738,Yes\n739,No\n740,No\n741,No\n742,Yes\n743,Yes\n744,Yes\n745,Yes\n746,Yes\n747,Yes\n748,No\n749,Yes\n750,Yes\n751,Yes\n752,No\n753,No\n754,Yes\n755,Yes\n756,No\n757,Yes\n758,No\n759,Yes\n760,Yes\n761,Yes\n762,Yes\n763,Yes\n764,No\n765,Yes\n766,Yes\n767,Yes\n768,Yes\n769,Yes\n770,Yes\n771,Yes\n772,Yes\n773,Yes\n774,Yes\n775,Yes\n776,No\n777,Yes\n778,No\n779,Yes\n780,Yes\n781,Yes\n782,Yes\n783,Yes\n784,Yes\n785,Yes\n786,No\n787,No\n788,Yes\n789,No\n790,Yes\n791,No\n792,No\n793,No\n794,Yes\n795,Yes\n796,No\n797,Yes\n798,Yes\n799,Yes\n800,No\n801,Yes\n802,Yes\n803,Yes\n804,No\n805,Yes\n806,Yes\n807,Yes\n808,Yes\n809,Yes\n810,Yes\n811,Yes\n812,No\n813,Yes\n814,Yes\n815,Yes\n816,Yes\n817,Yes\n818,No\n819,Yes\n820,Yes\n821,Yes\n822,No\n823,Yes\n824,Yes\n825,Yes\n826,Yes\n827,Yes\n828,Yes\n829,Yes\n830,No\n831,Yes\n832,No\n833,No\n834,No\n835,No\n836,No\n837,Yes\n838,No\n839,Yes\n840,No\n841,Yes\n842,No\n843,No\n844,Yes\n845,Yes\n846,Yes\n847,No\n848,Yes\n849,Yes\n850,No\n851,Yes\n852,No\n853,Yes\n854,Yes\n855,No\n856,Yes\n857,No\n858,Yes\n859,No\n860,Yes\n861,Yes\n862,Yes\n863,Yes\n864,Yes\n865,Yes\n866,Yes\n867,Yes\n868,No\n869,Yes\n870,No\n871,No\n872,No\n873,Yes\n874,Yes\n875,Yes\n876,Yes\n877,Yes\n878,No\n879,No\n880,Yes\n881,No\n882,Yes\n883,Yes\n884,Yes\n885,Yes\n886,Yes\n887,No\n888,No\n889,Yes\n890,Yes\n891,No\n892,Yes\n893,No\n894,Yes\n895,Yes\n896,Yes\n897,Yes\n898,Yes\n899,Yes\n900,Yes\n901,Yes\n902,Yes\n903,Yes\n904,No\n905,Yes\n906,No\n907,No\n908,No\n909,Yes\n910,Yes\n911,Yes\n912,No\n913,Yes\n914,No\n915,Yes\n916,Yes\n917,Yes\n918,No\n919,No\n920,Yes\n921,Yes\n922,Yes\n923,Yes\n924,Yes\n925,Yes\n926,Yes\n927,No\n928,No\n929,Yes\n930,No\n931,Yes\n932,No\n933,Yes\n934,Yes\n935,Yes\n936,Yes\n937,Yes\n938,Yes\n939,Yes\n940,No\n941,Yes\n942,Yes\n943,No\n944,Yes\n945,No\n946,Yes\n947,Yes\n948,No\n949,Yes\n950,Yes\n951,No\n952,No\n953,No\n954,No\n955,No\n956,No\n957,Yes\n958,No\n959,No\n960,Yes\n961,No\n962,No\n963,No\n964,No\n965,Yes\n966,Yes\n967,Yes\n968,Yes\n969,Yes\n970,No\n971,Yes\n972,No\n973,No\n974,No\n975,Yes\n976,Yes\n977,Yes\n978,Yes\n979,Yes\n980,No\n981,Yes\n982,No\n983,Yes\n984,Yes\n985,Yes\n986,Yes\n987,Yes\n988,Yes\n989,No\n990,No\n991,Yes\n992,Yes\n993,Yes\n994,Yes\n995,No\n996,Yes\n997,Yes\n998,No\n999,Yes\n1000,Yes\n1001,No\n1002,Yes\n1003,No\n1004,Yes\n1005,Yes\n1006,Yes\n1007,Yes\n1008,Yes\n1009,Yes\n1010,Yes\n1011,Yes\n1012,No\n1013,Yes\n1014,Yes\n1015,Yes\n1016,Yes\n1017,Yes\n1018,No\n1019,Yes\n1020,No\n1021,No\n1022,Yes\n1023,No\n1024,Yes\n1025,Yes\n1026,Yes\n1027,Yes\n1028,Yes\n1029,Yes\n1030,No\n1031,Yes\n1032,No\n1033,Yes\n1034,Yes\n1035,No\n1036,Yes\n1037,Yes\n1038,Yes\n1039,Yes\n1040,Yes\n1041,Yes\n1042,No\n1043,Yes\n1044,Yes\n1045,Yes\n1046,Yes\n1047,No\n1048,No\n1049,Yes\n1050,Yes\n1051,Yes\n1052,Yes\n1053,Yes\n1054,Yes\n1055,Yes\n1056,No\n1057,Yes\n1058,Yes\n1059,No\n1060,Yes\n1061,Yes\n1062,No\n1063,Yes\n1064,Yes\n1065,Yes\n1066,No\n1067,Yes\n1068,Yes\n1069,No\n1070,No\n1071,Yes\n1072,Yes\n1073,Yes\n1074,Yes\n1075,Yes\n1076,No\n1077,Yes\n1078,Yes\n1079,Yes\n1080,No\n1081,Yes\n1082,Yes\n1083,Yes\n1084,Yes\n1085,Yes\n1086,Yes\n1087,Yes\n1088,Yes\n1089,Yes\n1090,Yes\n1091,Yes\n1092,Yes\n1093,Yes\n1094,Yes\n1095,Yes\n1096,Yes\n1097,No\n1098,Yes\n1099,Yes\n1100,Yes\n1101,Yes\n1102,Yes\n1103,Yes\n1104,No\n1105,Yes\n1106,Yes\n1107,No\n1108,Yes\n1109,No\n1110,Yes\n1111,No\n1112,Yes\n1113,Yes\n1114,Yes\n1115,Yes\n1116,Yes\n1117,Yes\n1118,No\n1119,No\n1120,No\n1121,Yes\n1122,Yes\n1123,Yes\n1124,Yes\n1125,No\n1126,Yes\n1127,Yes\n1128,No\n1129,Yes\n1130,No\n1131,Yes\n1132,No\n1133,Yes\n1134,Yes\n1135,No\n1136,Yes\n1137,No\n1138,Yes\n1139,Yes\n1140,Yes\n1141,No\n1142,Yes\n1143,Yes\n1144,No\n1145,Yes\n1146,Yes\n1147,Yes\n1148,Yes\n1149,Yes\n1150,Yes\n1151,No\n1152,No\n1153,Yes\n1154,Yes\n1155,No\n1156,Yes\n1157,No\n1158,Yes\n1159,Yes\n1160,Yes\n1161,Yes\n1162,No\n1163,Yes\n1164,Yes\n1165,Yes\n1166,No\n1167,Yes\n1168,No\n1169,Yes\n1170,Yes\n1171,Yes\n1172,Yes\n1173,No\n1174,No\n1175,No\n1176,No\n1177,Yes\n1178,Yes\n1179,No\n1180,Yes\n1181,Yes\n1182,Yes\n1183,Yes\n1184,Yes\n1185,No\n1186,Yes\n1187,No\n1188,Yes\n1189,Yes\n1190,No\n1191,Yes\n1192,Yes\n1193,Yes\n1194,No\n1195,No\n1196,Yes\n1197,Yes\n1198,Yes\n1199,Yes\n1200,Yes\n1201,Yes\n1202,Yes\n1203,Yes\n1204,Yes\n1205,Yes\n1206,No\n1207,Yes\n1208,No\n1209,Yes\n1210,No\n1211,Yes\n1212,Yes\n1213,Yes\n1214,No\n1215,Yes\n1216,Yes\n1217,No\n1218,Yes\n1219,Yes\n1220,Yes\n1221,No\n1222,Yes\n1223,No\n1224,Yes\n1225,No\n1226,Yes\n1227,Yes\n1228,Yes\n1229,Yes\n1230,Yes\n1231,No\n1232,Yes\n1233,Yes\n1234,Yes\n1235,Yes\n1236,Yes\n1237,No\n1238,Yes\n1239,No\n1240,No\n1241,Yes\n1242,Yes\n1243,Yes\n1244,Yes\n1245,Yes\n1246,Yes\n1247,Yes\n1248,Yes\n1249,Yes\n1250,Yes\n1251,Yes\n1252,No\n1253,Yes\n1254,Yes\n1255,Yes\n1256,Yes\n1257,Yes\n1258,Yes\n1259,Yes\n1260,Yes\n1261,Yes\n1262,No\n1263,Yes\n1264,No\n1265,Yes\n1266,No\n1267,Yes\n1268,Yes\n1269,Yes\n1270,Yes\n1271,Yes\n1272,Yes\n1273,No\n1274,No\n1275,No\n1276,Yes\n1277,Yes\n1278,Yes\n1279,Yes\n1280,Yes\n1281,Yes\n1282,No\n1283,No\n1284,Yes\n1285,Yes\n1286,Yes\n1287,Yes\n1288,Yes\n1289,Yes\n1290,Yes\n1291,Yes\n1292,No\n1293,Yes\n1294,Yes\n1295,Yes\n1296,No\n1297,Yes\n1298,Yes\n1299,Yes\n1300,No\n1301,No\n1302,Yes\n1303,Yes\n1304,Yes\n1305,No\n1306,No\n1307,Yes\n1308,Yes\n1309,Yes\n1310,No\n1311,Yes\n1312,Yes\n1313,Yes\n1314,No\n1315,Yes\n1316,Yes\n1317,Yes\n1318,Yes\n1319,No\n1320,Yes\n1321,Yes\n1322,Yes\n1323,Yes\n1324,Yes\n1325,No\n1326,Yes\n1327,Yes\n1328,Yes\n1329,No\n1330,No\n1331,Yes\n1332,Yes\n1333,Yes\n1334,Yes\n1335,Yes\n1336,Yes\n1337,No\n1338,Yes\n1339,Yes\n1340,Yes\n1341,Yes\n1342,Yes\n1343,Yes\n1344,Yes\n1345,No\n1346,Yes\n1347,No\n1348,Yes\n1349,Yes\n1350,No\n1351,No\n1352,Yes\n1353,Yes\n1354,Yes\n1355,Yes\n1356,Yes\n1357,No\n1358,No\n1359,Yes\n1360,Yes\n1361,Yes\n1362,Yes\n1363,Yes\n1364,Yes\n1365,Yes\n1366,Yes\n1367,Yes\n1368,Yes\n1369,Yes\n1370,Yes\n1371,No\n1372,No\n1373,Yes\n1374,Yes\n1375,No\n1376,No\n1377,Yes\n1378,No\n1379,Yes\n1380,Yes\n1381,Yes\n1382,Yes\n1383,Yes\n1384,Yes\n1385,No\n1386,Yes\n1387,No\n1388,Yes\n1389,Yes\n1390,Yes\n1391,Yes\n1392,Yes\n1393,Yes\n1394,Yes\n1395,Yes\n1396,No\n1397,Yes\n1398,Yes\n1399,No\n1400,No\n1401,Yes\n1402,No\n1403,Yes\n1404,Yes\n1405,Yes\n1406,Yes\n1407,No\n1408,No\n1409,Yes\n1410,No\n1411,Yes\n1412,Yes\n1413,Yes\n1414,Yes\n1415,Yes\n1416,Yes\n1417,No\n1418,Yes\n1419,Yes\n1420,Yes\n1421,Yes\n1422,Yes\n1423,Yes\n1424,No\n1425,Yes\n1426,No\n1427,Yes\n1428,Yes\n1429,No\n1430,Yes\n1431,Yes\n1432,Yes\n1433,Yes\n1434,No\n1435,Yes\n1436,Yes\n1437,Yes\n1438,Yes\n1439,Yes\n1440,Yes\n1441,Yes\n1442,Yes\n1443,No\n1444,Yes\n1445,No\n1446,No\n1447,Yes\n1448,Yes\n1449,Yes\n1450,No\n1451,Yes\n1452,No\n1453,No\n1454,Yes\n1455,Yes\n1456,No\n1457,Yes\n1458,Yes\n1459,No\n1460,No\n1461,Yes\n1462,Yes\n1463,No\n1464,Yes\n1465,No\n1466,Yes\n1467,Yes\n1468,Yes\n1469,Yes\n1470,Yes\n1471,Yes\n1472,Yes\n1473,No\n1474,Yes\n1475,Yes\n1476,Yes\n1477,Yes\n1478,Yes\n1479,Yes\n1480,Yes\n1481,No\n1482,No\n1483,Yes\n1484,Yes\n1485,Yes\n1486,Yes\n1487,Yes\n1488,No\n1489,Yes\n1490,Yes\n1491,Yes\n1492,No\n1493,Yes\n1494,Yes\n1495,No\n1496,Yes\n1497,No\n1498,No\n1499,Yes\n1500,Yes\n1501,Yes\n1502,Yes\n1503,Yes\n1504,Yes\n1505,No\n1506,Yes\n1507,Yes\n1508,Yes\n1509,Yes\n1510,Yes\n1511,No\n1512,No\n1513,Yes\n1514,No\n1515,No\n1516,Yes\n1517,Yes\n1518,Yes\n1519,Yes\n1520,Yes\n1521,Yes\n1522,No\n1523,Yes\n1524,No\n1525,No\n1526,Yes\n1527,Yes\n1528,Yes\n1529,Yes\n1530,Yes\n1531,Yes\n1532,Yes\n1533,No\n1534,Yes\n1535,No\n1536,Yes\n1537,Yes\n1538,No\n1539,Yes\n1540,Yes\n1541,Yes\n1542,Yes\n1543,No\n1544,Yes\n1545,No\n1546,Yes\n1547,Yes\n1548,Yes\n1549,Yes\n1550,Yes\n1551,Yes\n1552,Yes\n1553,No\n1554,Yes\n1555,Yes\n1556,Yes\n1557,Yes\n1558,Yes\n1559,No\n1560,Yes\n1561,No\n1562,No\n1563,No\n1564,Yes\n1565,No\n1566,Yes\n1567,Yes\n1568,Yes\n1569,Yes\n1570,Yes\n1571,No\n1572,No\n1573,Yes\n1574,Yes\n1575,Yes\n1576,Yes\n1577,Yes\n1578,Yes\n1579,Yes\n1580,No\n1581,No\n1582,No\n1583,Yes\n1584,Yes\n1585,Yes\n1586,No\n1587,Yes\n1588,Yes\n1589,Yes\n1590,Yes\n1591,Yes\n1592,Yes\n1593,Yes\n1594,Yes\n1595,No\n1596,Yes\n1597,No\n1598,Yes\n1599,Yes\n1600,Yes\n1601,Yes\n1602,Yes\n1603,Yes\n1604,Yes\n1605,Yes\n1606,Yes\n1607,Yes\n1608,Yes\n1609,Yes\n1610,Yes\n1611,No\n1612,Yes\n1613,Yes\n1614,No\n1615,Yes\n1616,No\n1617,Yes\n1618,Yes\n1619,Yes\n1620,Yes\n1621,Yes\n1622,Yes\n1623,No\n1624,No\n1625,Yes\n1626,No\n1627,Yes\n1628,Yes\n1629,Yes\n1630,No\n1631,Yes\n1632,Yes\n1633,Yes\n1634,Yes\n1635,No\n1636,No\n1637,Yes\n1638,Yes\n1639,Yes\n1640,Yes\n1641,No\n1642,Yes\n1643,No\n1644,Yes\n1645,No\n1646,No\n1647,Yes\n1648,Yes\n1649,Yes\n1650,No\n1651,Yes\n1652,Yes\n1653,Yes\n1654,Yes\n1655,Yes\n1656,No\n1657,Yes\n1658,Yes\n1659,Yes\n1660,No\n1661,No\n1662,Yes\n1663,No\n1664,Yes\n1665,Yes\n1666,Yes\n1667,Yes\n1668,Yes\n1669,Yes\n1670,No\n1671,No\n1672,Yes\n1673,No\n1674,Yes\n1675,Yes\n1676,Yes\n1677,Yes\n1678,No\n1679,Yes\n1680,No\n1681,Yes\n1682,No\n1683,Yes\n1684,Yes\n1685,No\n1686,Yes\n1687,Yes\n1688,No\n1689,Yes\n1690,Yes\n1691,No\n1692,No\n1693,Yes\n1694,Yes\n1695,Yes\n1696,No\n1697,Yes\n1698,No\n1699,Yes\n1700,Yes\n1701,Yes\n1702,No\n1703,Yes\n1704,No\n1705,No\n1706,Yes\n1707,Yes\n1708,Yes\n1709,No\n1710,Yes\n1711,No\n1712,No\n1713,Yes\n1714,Yes\n1715,Yes\n1716,No\n1717,Yes\n1718,Yes\n1719,Yes\n1720,Yes\n1721,Yes\n1722,No\n1723,Yes\n1724,Yes\n1725,Yes\n1726,No\n1727,Yes\n1728,Yes\n1729,Yes\n1730,No\n1731,Yes\n1732,Yes\n1733,Yes\n1734,Yes\n1735,Yes\n1736,No\n1737,Yes\n1738,Yes\n1739,Yes\n1740,Yes\n1741,Yes\n1742,No\n1743,Yes\n1744,No\n1745,Yes\n1746,Yes\n1747,Yes\n1748,Yes\n1749,Yes\n1750,No\n1751,Yes\n1752,No\n1753,No\n1754,Yes\n1755,Yes\n1756,No\n1757,Yes\n1758,Yes\n1759,Yes\n1760,Yes\n1761,Yes\n1762,Yes\n1763,No\n1764,Yes\n1765,No\n1766,Yes\n1767,Yes\n1768,Yes\n1769,Yes\n1770,Yes\n1771,Yes\n1772,Yes\n1773,Yes\n1774,Yes\n1775,Yes\n1776,Yes\n1777,Yes\n1778,Yes\n1779,Yes\n1780,Yes\n1781,No\n1782,No\n1783,Yes\n1784,No\n1785,Yes\n1786,Yes\n1787,Yes\n1788,Yes\n1789,Yes\n1790,Yes\n1791,Yes\n1792,No\n1793,Yes\n1794,No\n1795,No\n1796,Yes\n1797,Yes\n1798,No\n1799,Yes\n1800,Yes\n1801,Yes\n1802,No\n1803,No\n1804,Yes\n1805,Yes\n1806,No\n1807,Yes\n1808,No\n1809,Yes\n1810,Yes\n1811,Yes\n1812,No\n1813,Yes\n1814,Yes\n1815,Yes\n1816,Yes\n1817,Yes\n1818,Yes\n1819,Yes\n1820,Yes\n1821,Yes\n1822,No\n1823,Yes\n1824,No\n1825,Yes\n1826,No\n1827,Yes\n1828,Yes\n1829,Yes\n1830,Yes\n1831,Yes\n1832,No\n1833,Yes\n1834,Yes\n1835,No\n1836,Yes\n1837,Yes\n1838,Yes\n1839,Yes\n1840,Yes\n1841,Yes\n1842,Yes\n1843,Yes\n1844,Yes\n1845,Yes\n1846,Yes\n1847,No\n1848,Yes\n1849,No\n1850,No\n1851,Yes\n1852,Yes\n1853,No\n1854,Yes\n1855,No\n1856,Yes\n1857,No\n1858,No\n1859,Yes\n1860,Yes\n1861,No\n1862,Yes\n1863,Yes\n1864,Yes\n1865,Yes\n1866,Yes\n1867,No\n1868,Yes\n1869,Yes\n1870,Yes\n1871,Yes\n1872,Yes\n1873,Yes\n1874,Yes\n1875,No\n1876,Yes\n1877,No\n1878,No\n1879,Yes\n1880,No\n1881,No\n1882,Yes\n1883,Yes\n1884,No\n1885,Yes\n1886,No\n1887,Yes\n1888,Yes\n1889,Yes\n1890,Yes\n1891,Yes\n1892,Yes\n1893,No\n1894,No\n1895,Yes\n1896,Yes\n1897,Yes\n1898,No\n1899,Yes\n1900,No\n1901,Yes\n1902,No\n1903,No\n1904,Yes\n1905,Yes\n1906,Yes\n1907,Yes\n1908,Yes\n1909,Yes\n1910,Yes\n1911,Yes\n1912,No\n1913,Yes\n1914,Yes\n1915,Yes\n1916,Yes\n1917,No\n1918,Yes\n1919,Yes\n1920,No\n1921,Yes\n1922,No\n1923,Yes\n1924,Yes\n1925,Yes\n1926,Yes\n1927,Yes\n1928,Yes\n1929,No\n1930,Yes\n1931,Yes\n1932,Yes\n1933,Yes\n1934,Yes\n1935,No\n1936,Yes\n1937,Yes\n1938,No\n1939,No\n1940,Yes\n1941,Yes\n1942,No\n1943,Yes\n1944,Yes\n1945,No\n1946,Yes\n1947,Yes\n1948,No\n1949,Yes\n1950,Yes\n1951,Yes\n1952,Yes\n1953,No\n1954,Yes\n1955,Yes\n1956,Yes\n1957,Yes\n1958,No\n1959,No\n1960,No\n1961,Yes\n1962,No\n1963,Yes\n1964,Yes\n1965,No\n1966,Yes\n1967,Yes\n1968,Yes\n1969,Yes\n1970,Yes\n1971,Yes\n1972,Yes\n1973,Yes\n1974,Yes\n1975,No\n1976,Yes\n1977,Yes\n1978,No\n1979,No\n1980,Yes\n1981,Yes\n1982,Yes\n1983,No\n1984,Yes\n1985,Yes\n1986,Yes\n1987,No\n1988,No\n1989,Yes\n1990,Yes\n1991,Yes\n1992,Yes\n1993,Yes\n1994,Yes\n1995,Yes\n1996,Yes\n1997,Yes\n1998,Yes\n1999,Yes\n2000,Yes\n2001,Yes\n2002,No\n2003,No\n2004,Yes\n2005,Yes\n2006,Yes\n2007,Yes\n2008,Yes\n2009,Yes\n2010,Yes\n2011,Yes\n2012,Yes\n2013,No\n2014,No\n2015,Yes\n2016,Yes\n2017,Yes\n2018,No\n2019,Yes\n2020,No\n2021,No\n2022,Yes\n2023,Yes\n2024,Yes\n2025,No\n2026,Yes\n2027,Yes\n2028,Yes\n2029,Yes\n2030,Yes\n2031,Yes\n2032,Yes\n2033,Yes\n2034,No\n2035,No\n2036,Yes\n2037,Yes\n2038,Yes\n2039,No\n2040,Yes\n2041,Yes\n2042,Yes\n2043,No\n2044,Yes\n2045,No\n2046,Yes\n2047,Yes\n2048,Yes\n2049,Yes\n2050,Yes\n2051,Yes\n2052,Yes\n2053,No\n2054,Yes\n2055,Yes\n2056,No\n2057,Yes\n2058,No\n2059,Yes\n2060,Yes\n2061,Yes\n2062,No\n2063,Yes\n2064,Yes\n2065,Yes\n2066,Yes\n2067,Yes\n2068,Yes\n2069,Yes\n2070,Yes\n2071,Yes\n2072,Yes\n2073,No\n2074,No\n2075,Yes\n2076,Yes\n2077,Yes\n2078,No\n2079,Yes\n2080,Yes\n2081,Yes\n2082,No\n2083,No\n2084,Yes\n2085,No\n2086,Yes\n2087,Yes\n2088,Yes\n2089,No\n2090,Yes\n2091,Yes\n2092,Yes\n2093,Yes\n2094,Yes\n2095,Yes\n2096,Yes\n2097,Yes\n2098,No\n2099,Yes\n2100,Yes\n2101,No\n2102,Yes\n2103,No\n2104,Yes\n2105,No\n2106,No\n2107,No\n2108,No\n2109,Yes\n2110,No\n2111,Yes\n2112,Yes\n2113,Yes\n2114,No\n2115,Yes\n2116,Yes\n2117,Yes\n2118,Yes\n2119,Yes\n2120,No\n2121,Yes\n2122,Yes\n2123,Yes\n2124,Yes\n2125,Yes\n2126,Yes\n2127,Yes\n2128,Yes\n2129,Yes\n2130,No\n2131,Yes\n2132,Yes\n2133,No\n2134,Yes\n2135,Yes\n2136,No\n2137,Yes\n2138,Yes\n2139,Yes\n2140,Yes\n2141,Yes\n2142,No\n2143,Yes\n2144,Yes\n2145,Yes\n2146,Yes\n2147,Yes\n2148,Yes\n2149,Yes\n2150,Yes\n2151,Yes\n2152,Yes\n2153,Yes\n2154,Yes\n2155,No\n2156,Yes\n2157,Yes\n2158,No\n2159,Yes\n2160,Yes\n2161,Yes\n2162,Yes\n2163,Yes\n2164,Yes\n2165,No\n2166,Yes\n2167,Yes