<a href="https://colab.research.google.com/github/kabilan942/kaggle/blob/main/MLP_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

## Data Loading and Exploration

In [2]:
train_data = pd.read_csv('train_data.csv')
test_data = pd.read_csv('test_data.csv')

In [3]:
print('Shape of Train data:', train_data.shape)
print('Shape of Test data:', test_data.shape)

Shape of Train data: (12379, 31)
Shape of Test data: (5305, 30)

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12379 entries, 0 to 12378
Data columns (total 31 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   offer expiration                      12379 non-null  object
 1   income_range                          12379 non-null  object
 2   no_visited_Cold drinks                12181 non-null  object
 3   travelled_more_than_15mins_for_offer  12379 non-null  int64
 4   Restaur_spend_less_than20             12258 non-null  object
 5   Marital Status                        12379 non-null  object
 6   restaurant type                       12379 non-null  object
 7   age                                   12379 non-null  object
 8   Prefer western over chinese           12379 non-null  int64
 9   travelled_more_than_25mins_for_offer  12379 non-null  int64
 10  travelled_more_than_5mins_for_offer   12379 non-null  int64
 11  no_visited_bars                       12286 non-null  object
 12  gender                                12379 non-null  object
 13  car                                   111 non-null    object
 14  restuarant_same_direction_house       12379 non-null  int64
 15  Cooks regularly                       12379 non-null  int64
 16  Customer type                         12379 non-null  object
 17  Qualification                         12379 non-null  object
 18  is foodie                             12379 non-null  int64
 19  no_Take-aways                         12235 non-null  object
 20  Job/Job Industry                      12379 non-null  object
 21  restuarant_opposite_direction_house   12379 non-null  int64
 22  has Children                          12379 non-null  int64
 23  visit restaurant with rating (avg)    12379 non-null  int64
 24  temperature                           12379 non-null  int64
 25  Restaur_spend_greater_than20          12219 non-null  object
 26  Travel Time                           12379 non-null  int64
 27  Climate                               12379 non-null  object
 28  drop location                         12379 non-null  object
 29  Prefer home food                      12379 non-null  int64
 30  Offer Accepted                        12379 non-null  object
dtypes: int64(13), object(18)
memory usage: 2.9+ MB

In [5]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5305 entries, 0 to 5304
Data columns (total 30 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   offer expiration                      5305 non-null   object
 1   income_range                          5305 non-null   object
 2   no_visited_Cold drinks                5215 non-null   object
 3   travelled_more_than_15mins_for_offer  5305 non-null   int64
 4   Restaur_spend_less_than20             5244 non-null   object
 5   Marital Status                        5305 non-null   object
 6   restaurant type                       5305 non-null   object
 7   age                                   5305 non-null   object
 8   Prefer western over chinese           5305 non-null   int64
 9   travelled_more_than_25mins_for_offer  5305 non-null   int64
 10  travelled_more_than_5mins_for_offer   5305 non-null   int64
 11  no_visited_bars                       5255 non-null   object
 12  gender                                5305 non-null   object
 13  car                                   43 non-null     object
 14  restuarant_same_direction_house       5305 non-null   int64
 15  Cooks regularly                       5305 non-null   int64
 16  Customer type                         5305 non-null   object
 17  Qualification                         5305 non-null   object
 18  is foodie                             5305 non-null   int64
 19  no_Take-aways                         5245 non-null   object
 20  Job/Job Industry                      5305 non-null   object
 21  restuarant_opposite_direction_house   5305 non-null   int64
 22  has Children                          5305 non-null   int64
 23  visit restaurant with rating (avg)    5305 non-null   int64
 24  temperature                           5305 non-null   int64
 25  Restaur_spend_greater_than20          5201 non-null   object
 26  Travel Time                           5305 non-null   int64
 27  Climate                               5305 non-null   object
 28  drop location                         5305 non-null   object
 29  Prefer home food                      5305 non-null   int64
dtypes: int64(13), object(17)
memory usage: 1.2+ MB

In [6]:
data = pd.concat([train_data, test_data], ignore_index=True)

In [7]:
data.shape

(17684, 31)

In [8]:
data.head()

,offer expiration,income_range,no_visited_Cold drinks,travelled_more_than_15mins_for_offer,Restaur_spend_less_than20,Marital Status,restaurant type,age,Prefer western over chinese,travelled_more_than_25mins_for_offer,...,restuarant_opposite_direction_house,has Children,visit restaurant with rating (avg),temperature,Restaur_spend_greater_than20,Travel Time,Climate,drop location,Prefer home food,Offer Accepted
0,2days,₹100000 or More,4~8,1,less1,Married partner,4 star restaurant,36,0,0,...,0,0,4,67,less1,22,Spring,Location B,0,No
1,2days,₹87500 - ₹99999,4~8,0,4~8,Married partner,Take-away restaurant,50plus,0,0,...,0,1,3,89,1~3,18,Summer,Location B,0,Yes
2,2days,₹87500 - ₹99999,less1,1,1~3,Single,Cold drinks,26,1,0,...,1,1,4,67,less1,7,Winter,Location A,1,Yes
3,10hours,₹37500 - ₹49999,less1,0,1~3,Single,Take-away restaurant,46,1,0,...,0,1,3,89,1~3,7,Summer,Location C,0,No
4,2days,₹100000 or More,never,1,1~3,Single,4 star restaurant,21,0,1,...,1,0,3,40,less1,7,Summer,Location C,0,No

In [9]:
data.tail()

,offer expiration,income_range,no_visited_Cold drinks,travelled_more_than_15mins_for_offer,Restaur_spend_less_than20,Marital Status,restaurant type,age,Prefer western over chinese,travelled_more_than_25mins_for_offer,...,restuarant_opposite_direction_house,has Children,visit restaurant with rating (avg),temperature,Restaur_spend_greater_than20,Travel Time,Climate,drop location,Prefer home food,Offer Accepted
17679,2days,₹25000 - ₹37499,less1,0,less1,Unmarried partner,4 star restaurant,26,0,0,...,0,0,1,67,1~3,18,Summer,Location B,0,NaN
17680,10hours,₹62500 - ₹74999,1~3,0,4~8,Married partner,2 star restaurant,26,0,0,...,0,0,3,89,1~3,18,Summer,Location B,1,NaN
17681,10hours,₹50000 - ₹62499,gt8,1,4~8,Married partner,Cold drinks,36,0,0,...,1,1,2,67,1~3,7,Summer,Location C,1,NaN
17682,2days,₹50000 - ₹62499,1~3,1,1~3,Married partner,Restaurant with pub,36,1,0,...,1,1,3,89,1~3,7,Summer,Location A,0,NaN
17683,2days,₹37500 - ₹49999,less1,0,1~3,Married partner,4 star restaurant,50plus,1,0,...,1,1,4,89,1~3,7,Winter,Location A,0,NaN

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17684 entries, 0 to 17683
Data columns (total 31 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   offer expiration                      17684 non-null  object
 1   income_range                          17684 non-null  object
 2   no_visited_Cold drinks                17396 non-null  object
 3   travelled_more_than_15mins_for_offer  17684 non-null  int64
 4   Restaur_spend_less_than20             17502 non-null  object
 5   Marital Status                        17684 non-null  object
 6   restaurant type                       17684 non-null  object
 7   age                                   17684 non-null  object
 8   Prefer western over chinese           17684 non-null  int64
 9   travelled_more_than_25mins_for_offer  17684 non-null  int64
 10  travelled_more_than_5mins_for_offer   17684 non-null  int64
 11  no_visited_bars                       17541 non-null  object
 12  gender                                17684 non-null  object
 13  car                                   154 non-null    object
 14  restuarant_same_direction_house       17684 non-null  int64
 15  Cooks regularly                       17684 non-null  int64
 16  Customer type                         17684 non-null  object
 17  Qualification                         17684 non-null  object
 18  is foodie                             17684 non-null  int64
 19  no_Take-aways                         17480 non-null  object
 20  Job/Job Industry                      17684 non-null  object
 21  restuarant_opposite_direction_house   17684 non-null  int64
 22  has Children                          17684 non-null  int64
 23  visit restaurant with rating (avg)    17684 non-null  int64
 24  temperature                           17684 non-null  int64
 25  Restaur_spend_greater_than20          17420 non-null  object
 26  Travel Time                           17684 non-null  int64
 27  Climate                               17684 non-null  object
 28  drop location                         17684 non-null  object
 29  Prefer home food                      17684 non-null  int64
 30  Offer Accepted                        12379 non-null  object
dtypes: int64(13), object(18)
memory usage: 4.2+ MB

In [11]:
data.drop(['no_visited_Cold drinks','Restaur_spend_less_than20','no_visited_bars','car','no_Take-aways','Restaur_spend_greater_than20'], axis=1, inplace=True)

In [12]:
data.shape

(17684, 25)

0 -> 12378 for train_data
12379 -> 17683 for test_data

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17684 entries, 0 to 17683
Data columns (total 25 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   offer expiration                      17684 non-null  object
 1   income_range                          17684 non-null  object
 2   travelled_more_than_15mins_for_offer  17684 non-null  int64
 3   Marital Status                        17684 non-null  object
 4   restaurant type                       17684 non-null  object
 5   age                                   17684 non-null  object
 6   Prefer western over chinese           17684 non-null  int64
 7   travelled_more_than_25mins_for_offer  17684 non-null  int64
 8   travelled_more_than_5mins_for_offer   17684 non-null  int64
 9   gender                                17684 non-null  object
 10  restuarant_same_direction_house       17684 non-null  int64
 11  Cooks regularly                       17684 non-null  int64
 12  Customer type                         17684 non-null  object
 13  Qualification                         17684 non-null  object
 14  is foodie                             17684 non-null  int64
 15  Job/Job Industry                      17684 non-null  object
 16  restuarant_opposite_direction_house   17684 non-null  int64
 17  has Children                          17684 non-null  int64
 18  visit restaurant with rating (avg)    17684 non-null  int64
 19  temperature                           17684 non-null  int64
 20  Travel Time                           17684 non-null  int64
 21  Climate                               17684 non-null  object
 22  drop location                         17684 non-null  object
 23  Prefer home food                      17684 non-null  int64
 24  Offer Accepted                        12379 non-null  object
dtypes: int64(13), object(12)
memory usage: 3.4+ MB

## Data Preprocessing

### offer expiration

In [14]:
data['offer expiration'].unique()

array(['2days', '10hours'], dtype=object)

'10hours' -> 0

'2days' -> 1

In [18]:
data['offer expiration'].replace({'10hours':0, '2days':1}, inplace=True)

The keys are replaced by their corresponding values in the column of the dataframe

In [23]:
data['offer expiration'].head()

0    1
1    1
2    1
3    0
4    1
Name: offer expiration, dtype: int64

### income_range

In [28]:
data['income_range'].value_counts()

₹25000 - ₹37499     2860
₹12500 - ₹24999     2534
₹37500 - ₹49999     2492
₹100000 or More     2397
₹50000 - ₹62499     2276
Less than ₹12500    1485
₹87500 - ₹99999     1259
₹75000 - ₹87499     1202
₹62500 - ₹74999     1179
Name: income_range, dtype: int64

In [29]:
data['income_range'].replace({'Less than ₹12500':0, '₹12500 - ₹24999':1, '₹25000 - ₹37499':2, '₹37500 - ₹49999':3, '₹50000 - ₹62499':4, '₹62500 - ₹74999':5,
                              '₹75000 - ₹87499':6, '₹87500 - ₹99999':7, '₹100000 or More':8 }, inplace=True)

In [30]:
data['income_range'].head()

0    8
1    7
2    7
3    3
4    8
Name: income_range, dtype: int64

### Marital Status

In [33]:
data['Marital Status'].value_counts()

Married partner      7085
Single               6675
Unmarried partner    3031
Divorced              718
Widowed               175
Name: Marital Status, dtype: int64

In [34]:
data['Marital Status'][:5]

0    Married partner
1    Married partner
2             Single
3             Single
4             Single
Name: Marital Status, dtype: object

In [36]:
data['Marital Status'].replace({'Married partner':0, 'Single':1, 'Unmarried partner':2, 'Divorced':3, 'Widowed':4}, inplace=True)

In [37]:
data['Marital Status'][:5]

0    0
1    0
2    1
3    1
4    1
Name: Marital Status, dtype: int64

### restaurant type

In [38]:
data['restaurant type'].value_counts()

Cold drinks             4957
2 star restaurant       3792
Take-away restaurant    3374
4 star restaurant       3108
Restaurant with pub     2453
Name: restaurant type, dtype: int64

In [39]:
data['restaurant type'][:7]

0       4 star restaurant
1    Take-away restaurant
2             Cold drinks
3    Take-away restaurant
4       4 star restaurant
5    Take-away restaurant
6             Cold drinks
Name: restaurant type, dtype: object

In [40]:
data['restaurant type'].replace({'Cold drinks':0, '2 star restaurant':1, 'Take-away restaurant':2, '4 star restaurant':3, 
                                 'Restaurant with pub':4}, inplace=True)

In [42]:
data['restaurant type'][:7]

0    3
1    2
2    0
3    2
4    3
5    2
6    0
Name: restaurant type, dtype: int64

### age

In [43]:
data['age'].value_counts()

21         3717
26         3622
31         2785
50plus     2528
36         1809
41         1497
46          967
below21     759
Name: age, dtype: int64

In [44]:
data['age'].replace({'below21':18, '50plus':53}, inplace=True)

In [45]:
data['age'][:5]

0    36
1    53
2    26
3    46
4    21
Name: age, dtype: object

### gender

In [46]:
data['gender'].value_counts()

Female    9037
Male      8647
Name: gender, dtype: int64

In [47]:
data['gender'][:5]

0    Female
1    Female
2    Female
3      Male
4    Female
Name: gender, dtype: object

In [48]:
data['gender'].replace({'Female':0, 'Male':1}, inplace=True)

In [49]:
data['gender'][:5]

0    0
1    0
2    0
3    1
4    0
Name: gender, dtype: int64

### Customer type

In [50]:
data['Customer type'].value_counts()

Individual         8497
With Colleagues    4513
With Family        2374
With Kids          2300
Name: Customer type, dtype: int64

In [51]:
data['Customer type'].replace({'Individual':0, 'With Colleagues':1, 'With Family':2, 'With Kids':3}, inplace=True)

### Qualification

In [53]:
data['Qualification'].value_counts()

Some college - no degree                  6068
Bachelors degree                          6039
Graduate degree (Masters or Doctorate)    2582
Associates degree                         1610
High School Graduate                      1258
Some High School                           127
Name: Qualification, dtype: int64

In [54]:
data['Qualification'][:7]

0            Bachelors degree
1            Bachelors degree
2            Bachelors degree
3    Some college - no degree
4    Some college - no degree
5            Bachelors degree
6    Some college - no degree
Name: Qualification, dtype: object

In [57]:
data['Qualification'].replace({'Some college - no degree':0, 'Bachelors degree':1, 'Graduate degree (Masters or Doctorate)':2,
                               'Associates degree':3, 'High School Graduate':4, 'Some High School':5}, inplace=True)

In [58]:
data['Qualification'][:7]

0    1
1    1
2    1
3    0
4    0
5    1
6    0
Name: Qualification, dtype: int64

### Job/Job Industry

In [59]:
data['Job/Job Industry'].value_counts()

Unemployed                                   2629
Student                                      2205
Computer & Mathematical                      1946
Sales & Related                              1524
Education&Training&Library                   1311
Management                                   1176
Office & Administrative Support               903
Arts Design Entertainment Sports & Media      898
Business & Financial                          739
Retired                                       664
Food Preparation & Serving Related            403
Community & Social Services                   346
Healthcare Practitioners & Technical          339
Healthcare Support                            332
Transportation & Material Moving              316
Legal                                         311
Life Physical Social Science                  247
Protective Service                            243
Architecture & Engineering                    241
Personal Care & Service                       232
Construction & Extraction                     208
Installation Maintenance & Repair             197
Production Occupations                        158
Building & Grounds Cleaning & Maintenance      59
Farming Fishing & Forestry                     57
Name: Job/Job Industry, dtype: int64

Removing this column:

In [60]:
data.drop(['Job/Job Industry'], axis=1, inplace=True)

In [61]:
data.shape

(17684, 24)

### Climate

In [65]:
data['Climate'].value_counts()

Summer    11520
Spring     3114
Winter     3050
Name: Climate, dtype: int64

In [66]:
data['Climate'].replace({'Summer':0, 'Spring':1, 'Winter':2}, inplace=True)

### drop location

In [67]:
data['drop location'].value_counts()

Location A    7934
Location B    4900
Location C    4850
Name: drop location, dtype: int64

In [68]:
data['drop location'].replace({'Location A':0, 'Location B':1, 'Location C':2}, inplace=True)

### Label - Offer Accepted

In [72]:
data['Offer Accepted'].value_counts()

Yes    6994
No     5385
Name: Offer Accepted, dtype: int64

In [73]:
data['Offer Accepted'].replace({'Yes':1, 'No':0}, inplace=True)